@model ConsoleAppProject.App01.DistanceConverter
@using ConsoleAppProject.App01 
@{
    ViewData["Title"] = "AM Distance Converter";
}

<header class="text-center jumbotron justify-content-center">
    <h2 class="display-4">Distance Converter</h2>
    <h3>by Amir Mohamed</h3>
    <p>
        This app will convert a distance entered in one unit into
        the equivalent distance measuered in another unit.
    </p>

</header>

<from method="post"> 

    <h3>Convert from:</h3>

    <p>
        <label>From Unit:</label>
        <select asp-for="@Model.FromUnit">
            <option>@DistanceConverter.MILES</option>
            <option>@DistanceConverter.METRES</option>
            <option>@DistanceConverter.FEET</option>
        </select>
    </p>
    <p>
        @if (Model.FromDistance == 0)
        {
            <input type="text" asp-for="@Model.FromDistance" value=""
                   placeholder="From Distance" required />
        }
        else
        {
            <input type="text" asp-for="@Model.FromDistance" 
                   placeholder="From Distance" required />
        }
    </p>

    <h3> Convert to:</h3>
    <p>
        <label>To Unit:</label>
        <select asp-for="@Model.ToUnit">
            <option>@DistanceConverter.MILES</option>
            <option>@DistanceConverter.METRES</option>
            <option>@DistanceConverter.FEET</option>
        </select>

    </p>
    <p>
        @if (Model.ToDistance == 0)
        {
            <input type="text" asp-for="@Model.ToDistance" value=""
                   placeholder="From Distance" readonly />
        }
        else
        {
            <input type="text" asp-for="@Model.ToDistance"
                   value="@Model.ToDistance.ToString("0.00")"
                   placeholder="From Distance" readonly />
        }
    </p>

    <p>
        <button class="btn btn-success" type="submit">Calculate</button>
    </p>

</from>